<%- include('partials/header') %>
    
    <div class="container mt-5">
        <a href="/user/register" class="btn btn-lg btn-primary">Opret profil</a>
        <a href="/user/login" class="btn btn-lg btn-secondary">Login</a>
    </div>

<%- include('partials/footer') %>
